.container{
    width: 450px;
    top:50%;
	left:50%;
}

.image img{
    width: 85%;
    height: auto;
}

.song-title{
    font-size: 30px;
}

.player{
	float:center;
	margin: 7px;
}

.controllers{
	clear: both;
	display: table;
}